<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImobileSdkAdsAdapterMoPubSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E94F308E1EF2155600D6F1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E94F30A21EF2155600D6F1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E94F30AD1EF2155600D6F1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
